@model IEnumerable<EmployeeViewModel>
@{
    ViewData["Title"] = "Index";
}
<link href="~/css/employee.css" rel="stylesheet" />
@* <div class="alert alert-warning">
    @ViewData["Massage"];
</div>

<div class="alert alert-success">
    @ViewBag.Massage;
</div> *@
@* @{
    ViewData["Title"] = "Index";
    string viewDataMassage = ViewData["Massage"] as string; // Enforce Type Safety -> Requirs Type Conversion => [Strongly Typed ]

    string viewBagMassage = ViewBag.Massage; // Can't Enforce Type Safety ->  Not Require Type Conversion [weekly Typed]
} *@



@if (!string.IsNullOrEmpty(TempData["Message"] as string))
{
    <div class="alert alert-primary fade-in-out">
        @TempData["Message"]

    </div>

}


<h1>All Employee</h1>
<br />
<br />


<a asp-action="Create" asp-controller="Employee" class="btn btn-danger">Create New Employee</a>

<br />

<div class="row justify-content-center align-items-center mt-">
    <form asp-action="Index" class="row col-8 offset-2">
        <div class="col-8">
            <input type="text" class="form-control" id="SearchInp" name="searchInp" placeholder="Search By Name" />

        </div>

        <div class="col-4">

            <input type="submit" value="Search" class="btn btn-success" />
        </div>

    </form>
</div>


@if (Model.Count() > 0)
{
    <table class="table table-striped table-hover mt-4">
        <thead>
            <tr class="text-center">
                <th>Image</th>
                <th>@Html.DisplayNameFor(E => E.Name)</th>
                <th>@Html.DisplayNameFor(E => E.Age)</th>
                <th>@Html.DisplayNameFor(E => E.Salary)</th>
                <th>@Html.DisplayNameFor(E => E.Email)</th>
                <th>@Html.DisplayNameFor(E => E.Address)</th>
                <th>@Html.DisplayNameFor(E => E.Departments)</th>
                @* <th>@Html.DisplayNameFor(E => E.IsActive)</th> *@
                @*  <th>@Html.DisplayNameFor(E => E.Gender)</th> *@
                <th>@Html.DisplayNameFor(E => E.HiringDate)</th>
                <th>Details</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var emp in Model)
            {
                <tr>
                    <th>
                        <img src="~/files/images/@emp.ImageName" alt="Employee Image" width="75" class="img-fluid rounded-circle" />

                    </th>
                    <td>@emp.Name</td>
                    <td>@emp.Age</td>
                    <td>@Html.DisplayFor(E => emp.Salary)</td>
                    <td>@Html.DisplayFor(E => emp.Email)</td>
                    <td>@emp.Address</td>
                    <td>@emp.Departments?.Name</td>
                    @*  <td>@Html.DisplayFor(E => emp.IsActive)</td> *@
                    @*   <td>@emp.Gender</td> *@
                    <td>@emp.HiringDate</td>
                    <partial name="_ButtonsPartial" model="@emp.Id" />
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="mt-5 alert alert-danger">
        <h3>There is No Employee</h3>
    </div>
}

